<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    
    <div class="col-md-9">

        <h1 class="display-4" jhiTranslate="home.title">Open Showcase</h1>

        <h1 class="display-4" jhiTranslate="home.title">Culture Fit Showcase</h1>

        <h1 class="display-4" jhiTranslate="home.title">Job Fit Showcase</h1>

        <div [ngSwitch]="isAuthenticated()">
        
        	<div class="alert alert-success" *ngSwitchCase="true">
                <span jhiTranslate="global.messages.info.rating.interested">Enjoying the showcase?</span>&nbsp;
                <a class="alert-link" routerLink="/rating/new" jhiTranslate="global.messages.info.rating.submit">Submit your rating now!</a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.notauthenticated.rate">Want to rate the presenter?</span>&nbsp;
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.notauthenticated.signin">Sign in</a>
                <span jhiTranslate="global.messages.info.notauthenticated.or">or</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.notauthenticated.register">Register a new account</a>
            </div>
            
        </div>
    </div>
</div>
