<div class="row">
    
    <div class="col-md-9">

        <swiper [config]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../content/images/personal-history.png" />
                </div>
                <div class="swiper-slide">
                    <img src="../../content/images/agility-conundrum.png" />
                </div>
                <div class="swiper-slide">
                    <img src="../../content/images/job-fit.png" />
                </div>
                <div class="swiper-slide">
                    <img src="../../content/images/motivation.png" />
                </div>
                <div class="swiper-slide">
                    <img src="../../content/images/retrospective.png" />
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <!-- <div class="swiper-button-next"></div>
            <!-- <div class="swiper-button-prev"></div> --> -->
        </swiper>


        <div [ngSwitch]="isAuthenticated()">
        
        	<div class="alert alert-success" *ngSwitchCase="true">
                <span jhiTranslate="global.messages.info.rating.interested">Enjoying the showcase?</span>&nbsp;
                <a class="alert-link" routerLink="/rating/new" jhiTranslate="global.messages.info.rating.submit">Submit your rating now!</a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.notauthenticated.rate">Want to rate the presenter?</span>&nbsp;
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.notauthenticated.signin">Sign in</a>
                <span jhiTranslate="global.messages.info.notauthenticated.or">or</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.notauthenticated.register">Register a new account</a>
            </div>
            
        </div>
    </div>
</div>
